:root {
    --sky-color: #173e74;
    --black-color: #333;
}
body {
    display: flex;
    justify-content: center;
}
.container {
    width: 600px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    height: 25px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    z-index: 100;
    color: var(--sky-color);
}
input:focus {
    color: var(--sky-color);
}
#content:focus {
    outline: none;
}
.content {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    color: #fff;
}
.content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    z-index: -1;
}
.content video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -10;
}
.content .sunny {
    opacity: 0;
    z-index: -1;
    transition: opacity 1s ease;
}
.content .sunny.appear {
    opacity: 1;
}
span {
    position: absolute;
    top: 74px;
    left: 111px;
    color: #fff;
}
img {
    width: 40px;
    position: absolute;
    top: 64px;
    left: 160px;
    cursor: pointer;
    z-index: 20;
}
img.switching {
    animation: switching 2s ease forwards;
}
@keyframes switching {
    0% {
        width: 40px;
        /* transform: scale(1) translate(0, 0); */
        top: 64px;
        left: 160px;
        transform: rotate(0deg);
    }
    50% {
        width: 3200px;
        /* transform: scale(80) translate(-20%, -20%); */
        top: -1085px;
        left: -1150px;
        transform: rotate(360deg);
    }
    100% {
        width: 40px;
        /* transform: scale(1) translate(0, 0); */
        top: 64px;
        left: 160px;
        transform: rotate(0deg);
    }
}
.button {
    height: 25px;
    width: 200px;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 222px;
    color: var(--sky-color);
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(176, 209, 250);
    box-shadow: -1px 1px 13px 7px white, 
    inset 1px 1px 5px 1px #00000059;
}
.result {
    height: 25px;
    width: 200px;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: 333px;
    left: 222px;
    color: var(--sky-color);
    text-align: center;
    padding-top: 7px;
}
.showing {
    height: 50px;
    width: 200px;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: 444px;
    left: 222px;
    color: var(--sky-color);
    text-align: center;
    padding-top: 7px;
    overflow: auto;
}